<div class="main">
    <div class="title">
        <div class="title-content">About</div>
    </div>
    <div class="content">
        <div class="about">
            <div class="about-website">
                <div class="about-title">About Website:</div>
                <div class="about-website-content">
                    <div>The goal of Bilgi Chatbot website is to provide a platform to handle any form of question about Istanbul Bilgi University.</div>
                    <div>Users can:</div>
                    <ul>
                        <li>ask questions to our chatbot</li>
                        <li>find their question from suggestions</li>
                        <li>check out frequently asked questions</li>
                        <li>directly send questions to Bilgi University staff</li>
                    </ul>
                </div>
            </div>
            <div class="about-dev">
                <div class="about-title">About Developer:</div>
                <div class="about-dev-content">
                    <div>I am Atakan Acar. I am 4th year Computer Engineering student in Istanbul Bilgi University.</div>
                    <div>I am interested in web development and I have knowledge in Angular for frontend, .Net Core and Spring Boot for backend.</div>
                    <div>I built this website as my thesis project.</div>
                </div>
            </div>
        </div>
    </div>
</div>