<div class="main">
    <div class="category">
        <app-category [categories]="categories" [isCategorySelected]="isCategorySelected" (selectedCategoryEmitter)="selectCategory($event)"></app-category>
    </div>
    <div class="suggestion">
        <app-suggestion [displayQuestions]="displayQuestions" [isCategorySelected]="isCategorySelected" [selectedCategory]="selectedCategory" (closeCategoryEmitter)="closeCategory()" (chatbotEmitter)="askQuestion($event)"></app-suggestion>
    </div>
    <div class=" chatbot ">
        <app-chatbot [messages]="messages " (chatbotEmitter)="askQuestion($event) "></app-chatbot>
    </div>
</div>