<div class="content">
    <div class="title">
        <span>Questions</span>
        <button [id]="-1" (click)="select($event)" *ngIf="questions.length > 0">Add<i class="fa fa-plus-circle fa-lg" style="padding: 0 0 0 5px;"></i></button>
    </div>
    <div class="loading" *ngIf="questions.length == 0">
        <div class="lds-dual-ring"></div>
    </div>
    <div class="list" *ngIf="questions.length > 0">
        <div class="list-item">
            <div class="edit" [ngClass]="{'edit-show': selectedQuestionId == -1}">
                <div class="inputs">
                    <div class="input">
                        <input [(ngModel)]="newCategoryId" type="text" placeholder="Category Id" class="edit-input">
                    </div>
                    <div class="input">
                        <input [(ngModel)]="newAnswerId" type="text" placeholder="Answer Id" class="edit-input">
                    </div>
                    <div class="input">
                        <input [(ngModel)]="newText" type="text" placeholder="Text" class="edit-input">
                    </div>
                </div>
                <div class="buttons">
                    <div class="button">
                        <button (click)="postQuestion()">Add<i class="fa fa-plus" style="padding: 0 0 0 5px;"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-item" *ngFor="let question of questions; index as x">
            <div class="question">
                <button [id]="question.id" class="question-button" [ngClass]="{'question-button-selected': question.id == selectedQuestionId}" (click)="select($event)">
                    <div *ngIf="question.id == selectedQuestionId; then minus else plus"></div>
                    <ng-template #plus><div class="icon"><i class="fa fa-plus fa-lg" style="padding: 0 5px;"></i></div></ng-template>
                    <ng-template #minus><div class="icon"><i class="fa fa-minus fa-lg" style="padding: 0 5px;"></i></div></ng-template>
                    <div class="question-column">
                        <div class="question-row">Id</div>
                        <div class="question-row">{{question.id}}</div>
                    </div>
                    <div class="question-column">
                        <div class="question-row">Category Id</div>
                        <div class="question-row">{{question.categoryId}}</div>
                    </div>
                    <div class="question-column">
                        <div class="question-row">Answer Id</div>
                        <div class="question-row">{{question.answerId}}</div>
                    </div>
                    <div class="question-column">
                        <div class="question-row">Text</div>
                        <div class="question-row">{{question.text}}</div>
                    </div>
                </button>
            </div>
            <div [id]="'e' + question.id" class="edit" [ngClass]="{'edit-show': question.id == selectedQuestionId}">
                <div class="inputs">
                    <div class="input">
                        <input [(ngModel)]="ids[x]" type="text" placeholder="Id" class="edit-input">
                    </div>
                    <div class="input">
                        <input [(ngModel)]="categoryIds[x]" type="text" placeholder="Category Id" class="edit-input">
                    </div>
                    <div class="input">
                        <input [(ngModel)]="answerIds[x]" type="text" placeholder="Answer Id" class="edit-input">
                    </div>
                    <div class="input">
                        <input [(ngModel)]="texts[x]" type="text" placeholder="Text" class="edit-input">
                    </div>
                </div>
                <div class="buttons">
                    <div class="button">
                        <button (click)="putQuestion(x)">Edit<i class="fa fa-edit fa-lg" style="padding: 0 0 0 5px;"></i></button>
                    </div>
                    <div class="button">
                        <button (click)="deleteQuestion(question.id)">Delete<i class="fa fa-times fa-lg" style="padding: 0 0 0 5px;"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>