.main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    height: 46px;
    min-height: 46px;
    width: 100%;
    padding-left: 10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #33cc33;
    box-sizing: border-box;
    background-color: #e6e6e6;
    font-weight: 600;
}

.search-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    height: 46px;
    min-height: 46px;
    width: 100%;
    padding: 0 20px;
    background-color: #f2f2f2;
}

.search-box {
    height: 30px;
    width: 100%;
    padding-left: 40px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-box:focus {
    outline: none;
    border-color: #33cc33;
}

.search-icon {
    position: absolute;
    margin-left: 15px;
}

.categories {
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    scrollbar-width: thin;
}

.category {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.category:first-child {
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: #33cc33;
}

.category:last-child {
    padding-bottom: 10px;
}

.category button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 10px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #33cc33;
    box-sizing: border-box;
    background-color: white;
    transition: 0.1s;
}

.category button:hover {
    cursor: pointer;
    color: white;
    background-color: #33cc33;
}

.category button.selected {
    color: white;
    background-color: #33cc33;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #33cc33;
}